<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>My internet-store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}" />

    <h1>My internet-store</h1>
    <br>
    <p>Welcome to internet-store!</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem illum in quisquam sed! Beatae deserunt exercitationem expedita hic iste pariatur quam quasi sint temporibus vel! Aspernatur aut consequatur cupiditate dolorem, dolorum exercitationem libero magni minus molestiae nihil nisi nobis officiis possimus, quaerat quam quibusdam recusandae reprehenderit soluta vel velit.</p>
</div>
</body>
</html>